<div class='nested-fields'>   
    <div class="field">
        <%= f.label :name %> 
        <select name="wine[oenologist_id]">
            <%= @oenologists.each do |oenologist| %>
                <option value="<%= oenologist.id %>">
                <%= oenologist.name %>
                </option> 
            <% end %> 
        </select>
    </div>
    <div class="field">
        <%= f.label :grade %> 
        <%= f.number_field :grade, step: :any %>
    </div>
</div>